/* ----------- Container ------------------- */

#container {
  margin-inline: auto;
  max-width: 90%;
  font-family: 'Glory', sans-serif;
}


body #btnClick {
  text-align: center;
}

/*  Section - Main text + Photo an social icons ------------ */

section {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Container ----------------------------- */

#section-main {
  width: 100%;
}

/* Title and presentation ------------------- */

#text-intro {
  margin-top: 10rem;
  margin-bottom: 2rem;
  width: 50%;
}

#text-intro h1 {
  font-size: 4rem;
  text-align: left;
}

#text-intro p {
  margin-top: 1rem;
  width: 500px;
}


/*  Contacts - email and phone -------------------- */

#phone-contact {
  display: flex;
}

#phone-button {
  display: flex;
  align-items: center;
}

#phone-button p {
  font-weight: 600;
}

/* Photo and icons ---------------------- */

#image-social {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
}
#profile-image {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  border-radius: 100px 30px;
  margin-right: 20rem;
}


/*  RESPONSIVIDADE -------------------- */

@media only screen 
  and (min-width: 1000px) 
  /* Valor mínimo da tela (de 1000px para cima) */
  { 
    
    #container {
      max-width: 1000px;
    }
} 

@media only screen and (max-width:970px) 
/* Valor máximo da tela (de 970px para baixo) */
{
  
  #text-intro {
    margin-top: 5rem;
  }
  
  #phone-contact {
    margin-top: 1rem;
    flex-direction: column;
  }

  #phone-button {
    justify-content: left;
  }
  }

  @media only screen and (max-width: 841px) 
  /* Valor máximo da tela (de 841px para baixo) */
  {


    nav {
      opacity: 0;
    }

    html {
      width: 100%;
      margin-inlines: auto;
    }

    section {
      flex-direction: column;
    }
    
    #section-main {
      width: 100%;
      flex-direction: column;
    }

    #text-intro p {
      width: 100%;
    }

    #phone-contact {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #image-social {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }




