<main id="container">
  <nav>
    <app-nav-button> </app-nav-button>
  </nav>
  <section>

    <!-- Container -->
    <div id="section-main">

      <!-- Presentation -->

      <div id="text-intro">
        <h1>
          Dev <br />
          Frontend
        </h1>
        <p>
          Desenvolvedor Frontend que gosta de utilizar as tecnologias HTML, CSS,
          Javascript, Bootstrap, DaisyUI, Tailwind, MaterialUI, ReactJs e
          Angular.
        </p>
      </div>

      <!-- Contacts Email and Phone -->

      <div id="phone-contact">
        <a href="mailto:ronaldocysne@gmail.com">
          <img id="email-button" [src]="emailButton" alt="" />
        </a>

        <div id="phone-button">
          <img id="icon-phone-button" [src]="phoneButton" alt=""/>
          <p>+55 85 99276-5391</p>
        </div>
      </div>
    </div>

    <!-- Photo and Social Media -->

    <div id="image-social">
      <div>
        <img id="profile-image" [src]="imgRonaldo" alt="" />
      </div>
      <div>
        <app-social-icons></app-social-icons>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
